<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Đăng ký thông tin thực phẩm</title>
    <link href="http://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/addFood.css" />
  </head>
  <body>
    <div class="form-style-10">
      <h1>Đăng ký phát hành thực phẩm</h1>
      <form method="post" action="/addFood" novalidate>
        <div class="section">Thông tin thực phẩm</div>
        <div class="inner-wrap">
          <label>Mã số thực phẩm <input type="text" name="field1"/></label>
          <label>Tên thực phẩm <input type="text" name="field1"/></label>
          <label>Các thông số <input type="text" name="field1"/></label>
          <label>Ngày sản xuất <input type="text" name="field1"/></label>
          <label>Hạn sử dụng<input type="text" name="field1"/></label>
          <label>Số lô<input type="text" name="field1"/></label>
          <label>Số giấy phép sản xuất<input type="text" name="field1"/></label>
          <label>Tên nhà sản xuất<input type="text" name="field1"/></label>
          <label>Giá sản xuất<input type="text" name="field1"/></label>
          <label>Địa điểm sản xuất<input type="text" name="field1"/></label>
        </div>
        <div class="button-section">
          <input type="submit" name="submit" />
        </div>
      </form>
    </div>
  </body>
</html>
