<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Form Style 10</title>
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/addFood.css" />
</head>

<body>

<div class="form-style-10">
    <h1>发布食品</h1>
    <form method="post" action="/addFood" novalidate>
        <div class="section">食品信息</div>
        <div class="inner-wrap">
            <label>食品编号 <input type="text" name="field1" /></label>
            <label>食品名称 <input type="text" name="field1" /></label>
            <label>食品规格 <input type="text" name="field1" /></label>
            <label>食品生产日期 <input type="text" name="field1" /></label>
            <label>食品保质期 <input type="text" name="field1" /></label>
            <label>食品批次号 <input type="text" name="field1" /></label>
            <label>食品生产许可证编号<input type="text" name="field1" /></label>
            <label>食品生产商名称 <input type="text" name="field1" /></label>
            <label>食品生产价格<input type="text" name="field1" /></label>
            <label>食品生产所在地<input type="text" name="field1" /></label>
        </div>
        <div class="button-section">
            <input type="submit" name="submit" />
        </div>
    </form>
</div>

</body>
</html>
