<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/detail.css" />
  </head>
  <body ng-app="application" ng-controller="appController">
    <table cellspacing="0" id="query_source">
      <tr>
        <th>Tên thực phẩm</th>
        <th>Các thông số</th>
        <th>Ngày sản xuất</th>
        <th>Hạn sử dụng</th>
        <th>Số lô</th>
        <th>Số giấy phép sản xuất</th>
        <th>Tên nhà sản xuất</th>
        <th>Giá sản xuất</th>
        <th>Địa điểm sản xuất</th>
      </tr>
      <tr>
        <td>{{ query_source.FoodName }}</td>
        <td>{{ query_source.FoodSpec }}</td>
        <td>{{ query_source.FoodMFGDate }}</td>
        <td>{{ query_source.FoodEXPDate }}</td>
        <td>{{ query_source.FoodLOT }}</td>
        <td>{{ query_source.FoodQSID }}</td>
        <td>{{ query_source.FoodMFRSName }}</td>
        <td>{{ query_source.FoodProPrice }}</td>
        <td>{{ query_source.FoodProPlace }}</td>
      </tr>
    </table>
  </body>
  <script type="text/javascript" src="/js/app.js"></script>
</html>
